
.btn-share.btn-facebook {
  color: #FFFFFF;
  background: #3B5998;
}

.btn-share.btn-facebook:hover,
.btn-share.btn-facebook:focus {
  color: #FFFFFF;
  opacity: 0.5;
}

.btn-share.btn-twitter {
  color: #FFFFFF;
  background: #4099FF;
}

.btn-share.btn-twitter:hover,
.btn-share.btn-twitter:focus {
  color: #FFFFFF;
  opacity: 0.5;
}

.btn-share.btn-google-plus {
  border-radius: 4px;
  color: #FFFFFF;
  background: #D34836;
}

.btn-share.btn-google-plus:hover,
.btn-share.btn-google-plus:focus {
  color: #FFFFFF;
  opacity: 0.5;
}
