<template name="social">
  <ul class="social">
    <li class="facebook">
      <a href="//www.facebook.com/dethiaptechaz" target="_blank">
          <img  src="{{ hostname}}/img/app/facebook.png" />
      </a>
    </li>
    <li class="twitter">
      <a href="#" target="_blank">
          <img  src="{{ hostname}}/img/app/twitter.png" />
      </a>
    </li>

    <li class="google">
      <a href="#" target="_blank">
          <img  src="{{ hostname}}/img/app/google.png" />
      </a>
    </li>

    <li class="linkedin">
      <a href="#" target="_blank">
          <img  src="{{ hostname}}/img/app/linkedin.png" />
      </a>
    </li>
  </ul>
</template>
